@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: rgba(250, 243, 221, 1);
  --secondary-color: rgba(115, 146, 183, 1);
  --dark-khaki: rgba(67, 62, 14, 1);
  --vintage-grape: rgba(68, 64, 84, 1);
  --shadow-gray: rgba(20, 20, 155, 1);
  /* --line-color: rgba(108, 108, 108, 1); */
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

img {
  width: 100%;
  height: auto;
}

#main-container {
  display: grid;
  background-color: var(--primary-color);
}

.aside,
.main,
.footer {
  padding-inline: 0.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.header__logo {
  margin-inline-end: 1rem;
}

.header__logo img {
  border-radius: 50%;
  max-width: 12rem;
}

.header__title__lang {
  text-align: right;
  margin: 0.5rem 0;
}

.header__title__head-1 {
  font-size: 2rem;
  margin: 0.5rem 0;
  font-weight: 600;
  color: var(--shadow-gray);
}

.header_title__objective {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--vintage-grape);
}

.contact--title,
.education--title,
.skills--title,
.language--title,
.profile--title,
.work--title,
.certificate--title {
  font-size: 1.5rem;
  color: var(--dark-khaki);
  margin: 0.25rem 0 0.5rem 0;
}

.contact img {
  max-width: 1.5rem;
}

.footer {
  text-align: right;
  padding: 0.5rem;
}

@media (min-width: 45rem) {
  #main-container {
    grid-template-columns: minmax(min-content, 30%) 1fr;
    grid-template-rows: minmax(min-content, 15rem) 1fr 3rem;
  }

  .header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .aside {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .footer {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }
}
