@page {
  size: A4 portrait;
  margin: 10mm;
}

@page {
  @top-left {
    content: "";
  }
}

body {
  font-family: "Times New Roman", Times, serif;
  font-size: 10pt;
}
/* HIDE ELEMENTS */
.logo,
.footer,
.languages {
  display: none;
}

.heading-1 {
  font-size: 28pt;
}
.heading-2 {
  font-size: 24pt;
}
.heading-3 {
  font-size: 22pt;
}
.heading-4 {
  font-size: 18pt;
}
.heading-5 {
  font-size: 14pt;
}

.py-1 {
  padding-block: 2mm;
}

.py-2 {
  padding-block: 4mm;
}

.py-3 {
  padding-block: 6mm;
}

.pe-1 {
  padding-block-end: 2mm;
}

.pe-2 {
  padding-block-end: 4mm;
}

.print-bold {
  font-weight: bolder;
}

#main-container {
  display: grid;

  grid-template-columns: [sidebar-start] 35% [sidebar-end content-start] 1fr [content-end];
  /* grid-template-rows: repeat(3, minmax(min-content, max-content)); */
  grid-template-rows: max-content min-content minmax(min-content, max-content);

  /* gap: 5mm; */

  .logo,
  .sidebar,
  .header,
  .profile,
  .work,
  .references,
  .footer {
    background-color: white;
    color: black;
  }

  .header {
    grid-column: sidebar-start / content-end;
    padding: 5mm;
    text-align: right;
  }

  .sidebar {
    grid-column: sidebar-start / sidebar-end;
    grid-row: 2 / span 2;

    img {
      width: 5mm;
      height: 5mm;
      background: black;
      margin-inline-end: 4mm;
    }

    .contact p {
      font-size: 10pt;
      margin-block-end: 1mm;
    }
  }

  .education-item {
    margin-block-end: 5mm;

    p:last-child {
      margin-inline-start: 4mm;
    }
  }

  .skills-item,
  .languages-item {
    margin-inline-start: 8mm;
  }

  .profile {
    grid-column: content-start / content-end;
    grid-row: 2 / span 1;
    padding-inline-start: 5mm;
  }

  .work {
    grid-column: content-start / content-end;
    grid-row: 3 / span 1;
    padding-inline-start: 5mm;
  }

  .work-card {
    margin-block-end: 4mm;
  }

  .work-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-inline-end: 10mm; */
  }

  .work-card ul {
    padding-inline-start: 8mm;
  }

  .work-card,
  .languages,
  .skills {
    page-break-inside: avoid;
  }
}
