@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: rgba(250, 243, 221, 1);
  --secondary-color: rgba(115, 146, 183, 1);
  --dark-khaki: rgba(67, 62, 14, 1);
  --vintage-grape: rgba(68, 64, 84, 1);
  --shadow-gray: rgba(20, 20, 155, 1);
  /* --line-color: rgba(108, 108, 108, 1); */
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

img {
  width: 100%;
  height: auto;
}

.tab-right-1 {
  margin-inline-start: 1rem;
}

#main-container {
  display: grid;
  background-color: var(--primary-color);
  max-width: 70rem;
  margin: 0 auto;
}

.aside,
.main,
.footer {
  padding-inline: 0.5rem;
}

.contact__title,
.education__title,
.skills__title,
.languages__title,
.profile__title,
.work__title,
.certificate__title {
  font-size: 1.5rem;
  color: var(--dark-khaki);
  margin: 0.25rem 0 0.5rem 0;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.header__logo {
  margin-inline-end: 1rem;
  display: flex;
  align-items: center;
}

.header__logo img {
  border-radius: 50%;
  max-width: 12rem;
}

.header__title__lang {
  text-align: right;
  margin: 0.5rem 0;
}

.header__title__head-1 {
  font-size: 2rem;
  margin: 0.5rem 0;
  font-weight: 600;
  color: var(--shadow-gray);
}

.header_title__objective {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--vintage-grape);
}

.contact p {
  display: flex;
  align-items: center;
}

.contact img {
  max-width: 1.5rem;
  display: inline-block;
  margin-inline-end: 0.5rem;
}

.education__item {
  margin-block-end: 1rem;
}

.education__year {
  text-align: right;
  margin-inline-end: 0.5rem;
}

.education__course {
  font-size: 1.2rem;
  font-weight: 500;
}

.education__school {
  font-size: 1.1rem;
  font-weight: 500;
}

.work__card {
  margin-block-end: 1rem;
}

.work__card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.work__card__company {
  font-size: 1.2rem;
  font-weight: 500;
}

.work__card__position {
  font-size: 1.1rem;
  font-weight: 500;
}

.work__card__item::before {
  content: "\2611";
  color: green;
  margin-inline-end: 0.5rem;
}

.certificate__card__item {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.certificate__card__name {
  font-weight: 500;
}

.certificate__card__valid {
  margin-inline-start: 2rem;
}

.footer {
  text-align: right;
  padding: 0.5rem;
}

.footer__link {
  text-decoration: none;
}

.footer__link--light {
  color: var(--secondary-color);
}

@media (min-width: 32rem) {
  .certificate__card__item {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 45rem) {
  #main-container {
    grid-template-columns: minmax(min-content, 30%) 1fr;
    grid-template-rows: minmax(min-content, 15rem) 1fr 3rem;
  }

  .header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;

    padding-inline: clamp(0.5rem, 3vw, 3rem);
  }

  .aside {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    padding-inline-start: 1rem;
  }

  .main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    padding-inline-end: 2rem;
  }

  .footer {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }
}
